{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.0"
        },
        "useBuiltIns": "usage",
        "corejs": "3.26.1",
        "modules": false
      }
    ],
    [ "babel-preset-minify" ]
  ]
}
